<h1>Cafes By Post Code</h1>
<table>
  <tr>
    <th>Post Code</th>
    <th>Total Places</th>
    <th>Total Chairs</th>
    <th>Chair Percentage</th>
    <th>Place with Max Chairs</th>
  </tr>
  <% @data.each do |data| %>
    <div id="<% data.post_code%>%">
      <tr>
        <td><%= data.post_code %></td>
        <td><%= data.total_places %></td>
        <td><%= data.total_chairs %></td>
        <td><%= data.chairs_pct %> %</td>
        <td><%= data.place_with_max_chairs %></td>
      </td>
    </div>
  <% end %>
</table>
